.card_title{
    height: 45px;
    overflow: hidden;
}

.card_title.after{
    position: absolute;
    right: 0;
    height: 100%;
    width: 50px;
    background: linear-gradient(90deg, transparent 0, #fff 100%);
    content: "";
}