.header__top{
    margin: 24px auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .content__logo{
        width: 300px;
        height: 70px;
        background-image: url(../../assets/img/logo.png);
        background-size: 300px;
        background-repeat: no-repeat;
        cursor: pointer;
    }
}

.header__bottom {
    margin: 0 auto;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 2px solid lightgrey;
    display: flex;
    justify-content: space-between;
    a {
        text-decoration: none;
        color: #000;
    }
}