.Card {
  margin: 50px 10px 10px;
  width: 160px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .img_block {
    margin-bottom: 10px;
    width: 130px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    img {
      width: 150px;
      height: 100%;
      margin: 0 auto;
      cursor: pointer;
      background-size: cover;
    }
  }

  .card_title {
    height: 45px;
    overflow: hidden;
    cursor: pointer;
  }

  .card_author{
    color: #9c9c9c;
  }

  .buttons_block {
    display: flex;
    justify-content: space-between;
    .favorite{
      cursor: pointer;
    }
  }
}
