.basket{
    max-width: 100%;
    margin: 0  auto;
}

.basket__list{
    margin-top: 70px;
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
}

.basket__list__card{
    margin-top: 18px;
    margin-bottom: 18px;
    height: 100px;
    font-family: "Lato";
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.basket__list__card__delete{
    width: 15px;
    height: 15px;
    background-image: url(../../assets/img/cross.png);
    background-repeat: no-repeat;
    background-size: 15px;
}

.basket__list__card__delete:hover{
    cursor: pointer;
}

.basket__list__card__img{
    margin-left: 20px;
    width: 136px;
    height: 100%;
    border: 1px solid #c6c6c5;
}

.basket__list__card__name{
    margin-left: 20px;
    width: 300px;
    height: 35px;
    display: flex;
    flex-direction: column;
}

.basket__list__card__name__product_name{
    color: #151515;
    font-weight: 600;
}

.basket__list__card__name__supplier_name{
    font-size: 14px;
    color: #747473;
    font-weight: 600;
}

.basket__list__card__price{
    margin-left: 20px;
    width: 100px;
    color: #747473;
    font-weight: 500;
}

.basket__list__card__quantity_counter{
    width: 80px;
    color: #747473;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket__list__card__quantity_counter__less{
    margin-right: 10px;
    width: 15px;
    height: 15px;
    background-image: url("https://img.icons8.com/material-outlined/24/000000/minus.png");
    background-repeat: no-repeat;
    background-size: 15px;
    border-radius: 5px;
}

.basket__list__card__quantity_counter__quantity{
    width: 15px;
    height: 15px;
    border: none;
}

.basket__list__card__quantity_counter__more{
    margin-left: 10px;
    width: 15px;
    height: 15px;
    background-image: url("https://img.icons8.com/android/24/000000/plus.png");
    background-repeat: no-repeat;
    background-size: 15px;
    border-radius: 5px;
}

.basket__list__card__total_price{
    margin-left: 40px;
    width: 100px;
    color: black;
    font-weight: 500;
}

.basket__total{
    margin-top: 30px;
    text-align: right;
}