.App{
    max-width: 2440px;
    margin: 0 auto;
    padding: 24px;
}

@media (max-width: 850px) {
    .App{
        max-width: 850px;
        padding: 12px;
    }
}

@media (max-width: 670px) {
    .App{
        max-width: 670px;
        padding: 8px;
    }
}